{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}


	<body class="{{ body_class }} fs--16" data-template="base.twig">
	
		{{ function('wp_body_open') }}
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		{% include 'header.twig' %}
		
		<App>
			<DynamicPage id="content" role="main" class=" page-{{ thefields.page_colour }}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</DynamicPage>
		</App>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		
		
		<script src="{{site.theme.link}}/../static/App.js"></script>
	</body>
</html>
