{% extends "base.twig" %}

{% block content %}
	<div class="article-wrapper content-wrapper blog-wrapper ">
	
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			
			<section class="article-content">
				<h1 class="--h1 fs--96">{{ post.title }}</h1>
				{# <a href="{{ post.link }}">{{ _e('edit') }}</a> #}
				<p class="blog-author">
					<span>By</span> {{ post.author.name }} <span>|</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p>
				
			

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
